html {
  font-family: "Quicksand", sans-serif;
}

.assignment-table {
  display: flex;
  height: 100%;
}

.header::after {
  content: "";
  background: url("../assets/images/gplay.png");
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  background-color: #006898;
  flex: 1.3;
  flex-direction: column;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-text {
  margin-right: 4rem;
  text-align: right;
}
.roll {
  font-size: 7rem;
}
.name {
  font-size: 3rem;
}
.assign-number {
  font-size: 1rem;
}
.date {
  color: #646464;
  font-style: italic;
}
.table-row {
  padding: 1rem 0;
}
.table-wrapper {
  background-color: #e6e6e6;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.styled-table {
  background-color: white;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.85em;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}
.styled-table thead tr {
  background-color: #006898;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: left;
}
.styled-table tbody tr {
  border-radius: 8px;
  overflow: hidden;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-radius: 8px;
  overflow: hidden;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.1em;
}
.view-demo {
  background-color: #407ae6;
  color: #fff;
}

.view-code {
  background-color: #009879;
  color: #fff;
}

button:hover {
  background-color: #a33535;
}
