h1, h2, h3 {
  font-weight: normal;
}

.main-container {
  max-width: 100%;
}

.main-header {
  text-align: center;
  margin: 5rem 0;
  font-size: 3.5em;
  color: white;
}

.section {
  width: 80%;
  margin: 0 auto 2rem;
  padding: 2rem 4rem;
  background: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.6);
}

.section--reverse {
  flex-direction: row-reverse;
}

.section__header {
  color:rgba(0, 0, 0, 0.8);
  font-size: 2em;
}

.section__description {
  font-size: 1.2em;
  margin-top: 1rem;
  color:rgba(44, 44, 44, 0.6)
}

.section__content {
  width: 40rem;
  height: 25rem;
}
