@media only screen and (min-width: 1140px) {

  /* header section */


  .header-content {
    padding: 0 18.229%;
  }

  .header__nav-section {
    margin-right: 2rem;
  }

  .header__nav-icon:first-of-type {
    margin-right: 1rem;
  }


  /* welcome section */

  .welcome {
    height: 45rem;
  }

  .center-content__header-sm {
    font-size: 2.8rem;
  }

  .center-content__header-lg p {
    font-size: 5rem;
  }

  .center-content__dash-wrapper {
    margin-top: 2rem;
  }

  .welcome__leader-text {
    margin-top: 0.5rem;
    font-size: 1.4em;
  }


  /* aboutus section */


  .aboutus__images {
    margin: 6rem 0 4rem;
  }

  .aboutus__img-wrapper {
    display: inline-block;
    max-width: calc(33.33% - 2.2rem);
    margin: 0 1rem;
  }


  /* records section */


  .records {
    padding: 0 15%;
  }

  .record {
    padding: 3.5rem 2rem;
  }

  .record:first-of-type {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }

  .record:last-of-type {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }


  /* services section */


  .service {
    padding: 3rem 1rem;
    width: 33.33%;
  }

  .service:nth-of-type(4) {
    border: none;
  }

  .service__icon {
    padding-right: 2rem;
  }

  .service__info-description {
    margin-top: 0.8rem;
    font-size: 1.2em;
  }


  /* devices section */

  .devices-wrapper,
  .devices__device-1,
  .devices__device-2 {
    all: revert;
    line-height: 0;
  }

  .devices-wrapper {
    margin-top: 3rem;
    position: relative;
  }

  .devices__device-2 {
    position: absolute;
    left: 50%;
    transform: translateX(9rem);
    bottom: -4rem;
  }


  /* tasks section */

  .tasks-content {
    height: 380px;
  }

  .tasks-img,
  .tasks-explanation {
    display: inline-block;
    max-width: calc(50% - 1rem);
    vertical-align: top;
    margin: 0;
  }

  .tasks-explanation {
    height: 100%;
  }

  .tasks-img {
    margin-right: 1rem;
  }

  .task {
    margin-top: 0;
  }

  .task:first-of-type {
    height: calc(100% - (2 * 60.6px) - 1.3rem);
  }

  .task-body {
    height: calc(100% - 60.59px - 2.2rem);
  }


  /* testimonials */


  .testimonial-user-pic {
    width: 63px;
    height: 61px;
    padding: 2.5rem;
  }

  .testimonial-comment {
    font-size: 1.3em;
  }

  .testimonial-author__dash {
    width: 3rem;
  }

  .testimonial-author__name {
    font-size: 1.5em;
    margin-left: 1rem;
  }


  /* team section */


  .member {
    float: left;
    width: calc((100% - 6rem)/3);
    margin: 0 1rem;
  }

  .member-info {
    margin-top: 2rem;
  }

  .member-info__designation {
    margin-top: 0.6rem;
  }


  /* partners */

  .partners-wrapper {
    padding: 0 15%;
  }


  .partner-link {
    width: 16.6667%;
  }

  .partner-link:nth-of-type(n) {
    border: none;
    clear: none;
    border-right: 1px solid #cccccc;
  }

  .partner-link:last-of-type {
    border-right: none;
  }


  /* work section */

  .work {
    padding: 0;
    margin: 0;
  }

  .work-images-wrapper {
    position: relative;
  }

  .work__content--desktop {
    padding: 0;
  }

  .work-overlay-wrapper {
    max-width: 25%;
    margin: 0;
  }

  /* @TODO: find alternate way to make responsive */
  .work-overlay-wrapper:last-of-type {
    position: absolute;
    bottom: 0;
    right: 0;
  }


  /* comments section */


  .comments {
    padding: 3rem 15%;
  }

  .comment-user-pic {
    width: 210px;
    height: 210px;
  }

  .comment-body {
    width: calc(100% - 15rem);
    padding: 1.5rem 4rem 0 2rem;
  }

  .testi-body {
    padding: 0 2rem 0 2rem;
  }

  /* sayings section */


  .sayings-content {
    padding: 0 15%;
  }

  .client-img {
    float: left;
  }

  .saying-body {
    float: right;
    text-align: left;
    max-width: calc(100% - 110px);
    padding: 0 2rem 0 3rem;
  }

  .client-saying {
    padding: 0;
  }


  /* blog section */


  .blog {
    display: inline-block;
    vertical-align: top;
    max-width: calc(33.33% - 2.2rem);
    margin: 0 1rem;
  }


  /* footers section */

  .footer {
    padding: 5rem 15% 1rem;
  }

  .footer-wrapper {
    padding-bottom: 3rem;
  }

  .footer__left-group,
  .footer__blogs-wrapper,
  .footer__instagram {
    all: revert;
    float: left;
  }

  .footer__left-group {
    width: 40%;
    padding-right: 3rem;
    box-sizing: border-box;
  }

  .footer__blogs-wrapper {
    width: 35%;
  }

  .footer__blog {
    padding-right: 2rem;
    margin-bottom: 1rem;
  }

  .footer__instagram {
    width: 25%;
  }

  .footer__gallery-img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 2px;
  }
}
