html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-3 {
  padding-left: 3px;
}

.ml-2 {
  margin-left: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.h-20 {
  height: 20px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.main-logo {
  height: 85px;
}

.search-bar {
  margin-top: 40px;
  width: 320px;
}

.search-bar__btn {
  position: relative;
  margin-top: -1px;
}

.search-bar__field:before {
  content: url("../images/searchbar-rounded.png");
  position: absolute;
  left: -7px;
}

.search-bar__field:after {
  content: url("../images/searchbar-rounded-r.png");
  position: absolute;
  right: -7px;
}

.search-bar__btn-text:before {
  content: url("../images/search-btn-rounded.png");
  position: absolute;
  top: 0;
  left: -7px;
}

.search-bar__btn-text:after {
  content: url("../images/search-btn-rounded-right.png");
  position: absolute;
  top: 0;
  right: -7px;
}

.header-top__account {
  margin-top: 28px;
  font-size: 14px;
}

.header-top__account-actions {
  margin-top: 6px;
  font-size: 10px;
}

.notif-icons {
  margin-bottom: -3px;
  margin-right: 5px;
}

.content {
  height: 667px;
  padding-top: 30px;
}

.search-section {
  width: 194px;
  height: 605px;
  margin-left: 26px;
}

.search-section:first-child {
  margin-left: 0;
}

.entries-section {
  width: 518px;
  height: 605px;
  margin-left: 26px;
}

.video-section {
  width: 176px;
  height: 605px;
  margin-left: 26px;
}

.header-bottom {
  height: 40px;
  line-height: 40px;
}

.header-bottom__items {
  float: left;
  margin-left: 32px;
}

.header-bottom__items:first-child {
  margin-left: 0;
}

.list-section__item {
  padding: 9.6px 10px;
  position: relative;
}

.list-section__item p {
  width: 150px;
  display: table-cell;
  vertical-align: middle;
}

.list-section__item-icon {
  position: absolute;
  right: 14px;
  bottom: 10px;
  z-index: 50;
}

.entries-body {
  height: 560px;
}

.entries-type {
  width: 258px;
  height: 100%;
  float: left;
  position: relative;
  position: relative;
}

.entries-type:before {
  content: url("../images/entry-type-rounded.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.entries-type:after {
  content: url("../images/entry-type-rounded-r.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.entries-type__title {
  height: 35px;
  line-height: 35px;
}

.entries-tab-wrapper {
  height: 28px;
  width: 114px;
  margin-left: 10px;
}

.background-element {
  position: absolute;
  top: 0;
  left: 10px;
  width: 236px;
  height: 100%;
  z-index: -10;
}

.entries-tab:before {
  content: url("../images/tab-rounded-inactive.png");
  position: absolute;
  left: -13px;
}

.entries-tab:hover:before {
  content: url("../images/tab-rounded-active.png");
  position: absolute;
  left: -13px;
}

.entries-tab:after {
  content: url("../images/tab-rounded-inactive-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-tab:hover:after {
  content: url("../images/tab-rounded-active-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entry-img {
  height: 70px;
  width: 70px;
}

.entry-description {
  width: 438px;
  height: 100%;
  margin-left: 10px;
}

.footer {
  height: 42px;
  line-height: 42px;
}

.footer__dots {
  margin: 0 7px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
