html,
body {
  height: 100%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-3 {
  padding-left: 3px;
}

.ml-2 {
  margin-left: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-23 {
  margin-left: 23px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-12 {
  margin-right: 12px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.h-20 {
  height: 20px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* helpers end */

.main {
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .main {
    height: auto;
  }
}

.header {
  position: relative;
}

.burger-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  display: none;
}

.hidden-menu {
  z-index: 200;
  position: absolute;
  top: 13%;
  right: 5%;
  text-align: right;
  width: 70%;
  display: none;
}

.header-top__left-content {
  float: left;
}

.header-top__account {
  float: right;
  text-align: right;
}

.main-logo {
  float: left;
  height: 85px;
}

.search-bar {
  float: right;
  margin: 40px 0 0 24px;
  width: 320px;
}

.search-bar__input {
  width: 240px;
  font-size: 10px;
}

.search-bar__btn {
  position: relative;
  margin-top: -1px;
}

.search-bar__field:before {
  content: url("../images/searchbar-rounded.png");
  position: absolute;
  left: -7px;
}

.search-bar__field:after {
  content: url("../images/searchbar-rounded-r.png");
  position: absolute;
  right: -7px;
}

.search-bar__btn-text:before {
  content: url("../images/search-btn-rounded.png");
  position: absolute;
  top: 0;
  left: -7px;
}

.search-bar__btn-text:after {
  content: url("../images/search-btn-rounded-right.png");
  position: absolute;
  top: 0;
  right: -7px;
}

.header-top__account {
  margin-top: 28px;
  font-size: 14px;
}

.header-top__account-actions {
  font-size: 10px;
}

.header-bottom {
  height: 40px;
  line-height: 40px;
}

.header-bottom__items {
  float: left;
  margin-left: 32px;
}

.header-bottom__items:first-child {
  margin-left: 0;
}

.notif-icons {
  margin-bottom: -3px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .header-top {
    padding-bottom: 32px;
  }

  .header-top__left-content,
  .header-top__account,
  .main-logo,
  .search-bar {
    float: none;
    margin: auto;
  }

  .main-logo {
    text-align: center;
    padding: 48px 0;
  }

  .header-top__account {
    text-align: center;
    margin-top: 32px;
  }

  .header-top__account span {
    font-size: 22px;
  }

  .header-top__account-actions {
    margin-top: 16px;
  }

  .header-top__account-actions a {
    padding: 0 16px;
    font-size: 16px;
  }

  .header-bottom ul,
  .header-bottom div,
  .header-bottom li,
  .header-bottom a {
    font-size: 12px;
    float: none;
    display: block;
    margin: auto;
  }

  .header-bottom span {
    font-size: 12px;
  }

  .header-bottom {
    height: auto;
    text-align: center;
  }

  .header-bottom__right-navs {
    border-top: 1px solid #dddddd;
  }
}

.content {
  height: 70%;
  padding: 3.5% 0;
}

.search-section {
  width: 20.46%;
  height: 100%;
  float: left;
}

.entries-section {
  float: left;
  width: 57%;
  margin-left: 1.9%;
  height: 100%;
}

.video-section {
  float: left;
  width: 18.56%;
  height: 100%;
  margin-left: 1.9%;
}

@media only screen and (max-width: 1000px) {
  .entries-section,
  .search-section,
  .video-section {
    float: none;
    width: 100%;
    margin-bottom: 32px;
    margin-left: auto;
  }

  .entries-section > h1 {
    text-align: center;
  }
}

.list-section__item {
  padding: 12px;
  position: relative;
}

.list-section__item-label {
  display: block;
  width: 85%;
}

.list-section__item-icon {
  position: absolute;
  top: 30%;
  right: 6%;
}

@media only screen and (max-width: 800px) {
  .list-section__item span,
  .list-section__item p {
    font-size: 12px;
  }

  .header-bottom {
    display: none;
  }

  .burger-icon {
    display: inline;
  }
}

@media only screen and (min-width: 800px) {
  .hidden-menu {
    display: none;
  }
}

.entries-body {
  height: 95.3%;
}

.entries-body__header {
  height: 63px;
}

.entries-type {
  width: 49.8%;
  height: 100%;
  float: left;
  position: relative;
}

.entries-type:last-of-type {
  margin-left: 2px;
}

@media only screen and (max-width: 600px) {
  .entries-type {
    float: none;
    margin: auto;
    width: 90%;
    height: auto;
  }

  .entries-type:last-of-type {
    margin: auto;
    background: #f5f5f5;
    border-top: 2px solid #2fc1da;
  }

  .entries-body__header {
    height: 128px;
  }
}

.entries-type:before {
  content: url("../images/entry-type-rounded.png");
  position: absolute;
  top: 0;
  left: 0px;
}

.entries-type:after {
  content: url("../images/entry-type-rounded-r.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.entries-type__title {
  height: 35px;
  line-height: 35px;
}

.background-element {
  position: absolute;
  top: 0;
  left: 13px;
  right: 13px;
  height: 100%;
  z-index: -10;
}

.entries-tab-wrapper {
  height: 28px;
  width: 46%;
  margin-left: 10px;
}

.entries-tab {
  height: 100%;
  width: 70%;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
  .entries-tab span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .entries-type__title span,
  .entries-tab span {
    font-size: 12px;
  }
}

.entries-tab:before {
  content: url("../images/tab-rounded-inactive.png");
  position: absolute;
  left: -13px;
}

.entries-tab:hover:before {
  content: url("../images/tab-rounded-active.png");
  position: absolute;
  left: -13px;
}

.entries-tab:after {
  content: url("../images/tab-rounded-inactive-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-tab:hover:after {
  content: url("../images/tab-rounded-active-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-tab--active {
  color: white;
  background-color: #2fc1da;
}

.entries-tab--active:before {
  content: url("../images/tab-rounded-active.png");
  position: absolute;
  left: -13px;
}

.entries-tab--active:after {
  content: url("../images/tab-rounded-active-r.png");
  position: absolute;
  right: -13px;
  z-index: 10;
}

.entries-body__content {
  height: 90.978%;
}

.entry {
  height: 17.55%;
  padding-top: 15px;
}

.entry-img {
  height: 82.35%;
  float: left;
}

.entry-description-wrapper {
  margin-left: 10px;
  height: 82.35%;
  float: left;
}

@media only screen and (max-width: 800px) {
  .entries-body__content .entry:last-child {
    border-bottom: none;
  }

  .entry {
    height: 250px;
    text-align: center;
    overflow: hidden;
  }

  .entry-img {
    width: 150px;
    height: 150px;
    float: none;
  }

  .entry-description-wrapper {
    margin-top: 20px;
    float: none;
  }
}

.entry-specs {
  margin-top: 2px;
}

.footer {
  height: 42px;
  line-height: 42px;
}

.footer__left-section {
  float: left;
}

.footer__right-section {
  float: right;
}

.footer__left-section > div {
  float: left;
}

.footer__dots {
  margin: 0 7px;
}

@media only screen and (max-width: 800px) {
  .footer {
    margin-top: 32px;
    height: 100%;
    padding: 32px 0;
    text-align: center;
  }

  .footer__left-section {
    float: none;
  }

  .footer__right-section {
    float: none;
  }

  .footer__left-section > div {
    float: none;
  }

  .footer__dots {
    display: none;
  }

  .footer a,
  .footer span {
    font-size: 14px;
  }
}
