ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
submit {
  border: none;
  background: none;
  cursor: pointer;
}

.font-15 {
  font-size: 15px;
}

.font-gray {
  color: #ababab;
}

.font-dark-gray {
  color: #5c5c5c;
}

.fs-inherit {
  font-size: inherit;
}

.bg-blue-200 {
  background-color: #7dd9e8;
}

.bg-blue-300 {
  background-color: #2fc1da;
}

.bg-blue-400 {
  background-color: #274f56;
}

.bg-gray-100 {
  background-color: #f5f5f5;
}

.bg-gray-200 {
  background-color: #dddddd;
}

.bg-gray-300 {
  background-color: #ababab;
}

.bg-gray-400 {
  background-color: #727272;
}

.font-white {
  color: white;
}

.font-blue {
  color: #4eafbf;
}

.font-dark-blue {
  color: #339eb2;
}

.font-green {
  color: #6f961f;
}

.font-bold {
  font-weight: bold;
}

.font-red {
  color: #d53f1e;
}

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

.border-bottom--blue {
  border-bottom: 2px solid #2fc1da;
}

.menu-style {
  background-color: #f5f5f5;
}

.menu-style li {
  border-bottom: 1px solid #dddddd;
}

.menu-style li:nth-of-type(4),
.menu-style li:last-of-type {
  border-bottom: 2px solid #4eafbf;
}

.menu-style a {
  font-size: 16px;
  display: block;
  padding: 16px 32px 16px 0;
}

.hidden-menu__notif--active {
  color: black;
}

.hidden-menu__notif {
  color: #ababab;
}

.search-bar__field {
  background-color: #caeff7;
  position: relative;
}

.search-bar__loupe-btn {
  border-left: 1px solid #ace6f1;
}

.search-bar__btn-text {
  font-size: 8px;
  padding-top: 5.5px;
  padding-bottom: 4.8px;
  position: absolute;
  top: 0;
  left: 7.3px;
  background-color: #274f56;
  position: relative;
  font-weight: bold;
}

.list-section__header {
  min-height: 32px;
  line-height: 42px;
  padding-left: 12px;
  background-color: #2fc1da;
  color: white;
}

.list-section__header span {
  font-size: 15px;
}

.list-section__header-touch {
  display: none;
  min-height: 32px;
  line-height: 42px;
  padding-left: 12px;
  background-color: #2fc1da;
  color: white;
  cursor: pointer;
}

.list-section__header-touch span {
  font-size: 15px;
  pointer-events: none;
}

@media only screen and (max-width: 800px) {
  .list-section__header,
  .list-section__items {
    display: none;
  }

  .list-section__header-touch {
    display: block;
  }

  .list-section__header-touch:nth-of-type(2) {
    margin-top: 4px;
  }
}

.list-section__item:hover {
  background: white;
  cursor: pointer;
}

.entries-title {
  font-size: 26px;
  margin-top: -6px;
  font-weight: lighter;
}

.entries-tab:hover {
  background-color: #2fc1da;
  color: white;
  cursor: pointer;
}

.entry-extra-spec {
  margin-top: 2px;
  font-size: 10px;
  font-weight: bold;
}

.entry-title {
  font-size: 14px;
  cursor: pointer;
}
